* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 5px;
}

.guesses {
    text-align: right;
}

.image {
    text-align: center;
    margin: 20px 0 30px 0;
}

#keyboard {
    text-align: center;
    margin: 15px auto;
    width: 70%;
}

.btn {
    color: white;
    background-color: rgb(196, 189, 104);
    border: none;
    &:hover {
        background-color: rgb(168, 158, 16);
    }
    &:active {
        border: none;
    }
    &:visited {
        background-color: rgb(196, 193, 162);
    }
}